<%- include('../../partials/header.ejs')%>
<div class="jumbotron">
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p class="lead">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos velit mollitia doloribus quidem delectus sunt optio dolor nulla accusantium laborum?
  </p>
</div>
<%- include('../../partials/header.ejs')%>
</div>
</html>



      
    
  